.socials {
  margin: 0;
  padding: 0;

  list-style-type: none;

  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 25px);
  grid-gap: 10px;
  justify-content: center;

  &__item {
    width: 25px;
    height: 25px;
  }

  &__link {
    display: block;

    width: 25px;
    height: 25px;

    border-radius: 50%;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    transition-duration: 0.2s;

    &_vk {
      background-image: url("/img/vk-icon.svg");
    }

    &_telegram {
      background-image: url("/img/telegram-logo-original-icon.svg");
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
