@import "../../styles/scaffolding.scss";
@import "../../styles/fonts.scss";

.navigation {
  padding: 0;
  margin: 0;
  margin: 20px 0;
  margin-right: 60px;
  margin-left: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include mobile {
    margin: 0;
    margin-top: 20px;

    justify-content: center;

    width: 100%;
  }

  &__link {
    padding: 5px 10px;

    text-decoration: none;
    color: white;
    font-family: $OpenSansRegular;
    font-size: 16px;

    @include mobile {
      padding: 10px 20px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--active {
      margin: 0 10px;
      border: 1px solid white;
      border-radius: 50px;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 1;
      }
    }
  }
}
