@import '../../../styles/scaffolding';

.slogans {
  @include mobile {
    border: 1px solid black;
    width: 320px;
    padding: 10px;
    margin: 0 auto;
  }
  
  &__title {
    font-size: 20px;
  }

  &__container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }
}